.contact {
    background-color: var(--color-dark);
    padding: 80px;
    text-align: center;
}

.contact-title {
    color: var(--color-white);
    font-size: 3em;
    margin-bottom: 24px;
}

.contact-subtitle {
    color: var(--color-white);
    font-size: 1.2em;
    margin-bottom: 48px;
}

.contact-button-email {
    display: inline-block;
    align-items: center;
    background-color: var(--color-white);
    padding: 8px 14px;
    border-radius: 10px;
    text-decoration: none;
    color: black;
    margin-bottom: 48px;
}

.contact-button-icon{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 8px;
}

.contact-button-container {
    display: flex;
    gap: 1em;
    justify-content: center;
}

.contact-button-github,
.contact-button-linkedin {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--color-dark-secondary);
}

.contact-button-github img,
.contact-button-linkedin img {
    width: 1.4em;
    height: 1.4em;

}

.contact-button-github:hover,
.contact-button-linkedin:hover {
    background-color: var(--color-dark-hover);
}

@media (max-width: 768px) {
    .contact {
        padding: 40px;
    }

    .contact-title {
        font-size: 2em;
    }

    .contact-subtitle {
        font-size: 1em;
    }
    
}