.hero {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-bg-light);
}

.hero-badge {
    font-size: 1.1rem;
    font-weight: normal;
    background-color: var(--color-dark);
    color: var(--color-white);
    border-radius: 200px;
    padding: 8px 14px;
}

.hero-title {
    font-size: 4.3rem;
    font-weight: normal;
    text-align: center;
    margin-top: 0.3em;
}

.hero-title-highlight {
    color: var(--color-primary);
}

.hero-subtitle {
    color: var(--color-text-secondary);
    font-size: 1.5rem;
    font-weight: normal;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
    max-width: 600px;
}

.hero-buttons {
    display: flex;
    gap: 1rem;
    margin-bottom: 3em;
}

.hero-button-project, .hero-button-contact {
    font-size: 1rem;
    font-weight: normal;
    border-radius: 10px;
    padding: 8px 14px;
}

.hero-button-project {
    background-color: var(--color-dark);
    color: var(--color-white);
    text-decoration: none;
}

.hero-button-project:hover {
    background-color: var(--color-primary);
}

.hero-button-contact:hover {
    background-color: var(--color-bg-lighter);
}

.hero-button-contact {
    background-color: var(--color-white);
    border: var(--color-dark) 1px solid;
    color: var(--color-primary);
    text-decoration: none;
}

.hero-scroll {
    margin-top: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    text-decoration: none;
}

.hero-scroll-link {
    font-size: 0.9rem;
    color: var(--color-dark);
}

@keyframes slide-down {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-8px);
    }
}

.hero-scroll-picture {
    animation: slide-down 1.5s infinite;
    width: 24px;
}

@media (max-width: 768px) {
    .hero-title {
        font-size: 3rem;
    }

    .hero-subtitle {
        font-size: 1.2rem;
        padding: 0 1rem;
    }
}