.navbar {
    display: flex;
    width: 100%;
    padding: 2em 20em;
    height: 2em;
    justify-content: space-between;
    align-items: center;
    background-color: var(--color-white);
    border-bottom: var(--color-border-light) 1px solid;
    position: fixed;
    z-index: 1000;
    box-sizing: border-box;
}

.navbar-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1em;
}

.navbar-link, .navbar-logo {
    text-decoration: none;
}

.navbar-link {
    color: var(--color-text-secondary);
    padding: 0.5em 1em;
}

.navbar-logo {
    font-size: 1.5em;
    font-weight: bold;
    color: var(--color-text-primary);
}

.navbar-link:hover {
    color: var(--color-text-primary);
}

@media (max-width: 768px) {
    .navbar {
        padding: 1em 2em;
    }
    .navbar-logo {
        font-size: 1.5em;
    }
}

@media (max-width: 480px) {
    .navbar {
        padding: 1em 0.5em;
    }
    .navbar-logo {
        font-size: 1.2em;
    }
    .navbar-list{
        gap: 0.5em;
    }
}