.nav-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 1em;
}

.nav-link, .nav-link--logo {
    text-decoration: none;
}

.nav-link {
    color: #4a5565;
    padding: 0.5em 1em;
}

.nav-link--logo {
    font-size: 1.5em;
    font-weight: bold;
    color: #282f3d;
}

.nav-link:hover {
    color: #282f3d;
}

#main-nav {
    display: flex;
    padding: 1em 20em;
    height: 2em;
    justify-content: space-between;
    align-items: center;
    background-color: #fefefe;
    border-bottom: #e8eaed 1px solid;
}

@media (max-width: 768px) {
    #main-nav {
        padding: 1em 2em;
    }
    .nav-link--logo {
        font-size: 1.5em;
    }
}

@media (max-width: 480px) {
    #main-nav {
        padding: 1em 0.5em;
    }
    .nav-link--logo {
        font-size: 1.2em;
    }
    .nav-list{
        gap: 0.5em;
    }
}