html, body, h1, h2, h3, h4, h5, h6, p, ul, ol, li, table, tr, td, th, blockquote, pre, form, fieldset, legend, input, textarea, button {
    margin: 0;
    padding: 0;
    font-family: "Segoe UI Symbol", sans-serif;
    font-weight: 400;
}

:root {
    /* Couleurs primaires */
    --color-primary: #4F46E5;
    --color-dark: #101828;
    --color-white: #FFFFFF;
    
    /* Couleurs de texte */
    --color-text-primary: #282f3d;
    --color-text-secondary: #4a5565;
    --color-text-light: #99a1af;
    
    /* Couleurs d'arrière-plan */
    --color-bg-light: #f9fafb;

    /* Couleurs de bordure */
    --color-border-light: #e2e8f0;
    --color-border-neutral: #e2e8f0;
    
    /* Couleurs sombres (footer, contact) */
    --color-dark-secondary: #1e2939;
    --color-dark-hover: #364153;
}